.neons {
  font-size: 25px;
  height: 60px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
  text-decoration: none;
  color: #7000ff;
  border: #7000ff 3px solid;
  background-color: transparent;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 #7000ff, 0 0 0.5em 0 #7000ff;
  transition: all 0.5s;
  padding: 5px;
}

.neons:hover {
  background-color: #7000ff;
  color: #fff;
}
